* {
  margin: 0px;
  padding: 0px;
}
/* 页面的文字都默认14px */
body {
  font-size: 0.14rem;
}
li {
  list-style: none;
}
img {
  /* 解决图标3px的问题 */
  vertical-align: middle;
}
#header {
  height: .44rem;
  background-color: #ff4e49;
  width: 100vw;
  padding-left: .44rem;
  padding-right: .44rem;
}
#header .back,
#header .app-download {
  display: block;
  width: .44rem;
  height: .44rem;
  position: absolute;
  top: 0;
}
#header .back {
  left: 0;
  font-size: .18rem;
  color: #fff;
  line-height: .44rem;
  padding-left: .1rem;
}
#header .app-download {
  right: 0;
  padding: .06rem;
  background: url(../images/header_app.png);
  background-size: .32rem .32rem;
  background-clip: content-box;
  background-origin: content-box;
}
#header .title {
  font-size: .16rem;
  color: #fff;
  font-weight: normal;
  width: 100%;
  height: .44rem;
  margin: 0;
  line-height: .44rem;
  text-align: center;
}
