body {
  background-color: #f7f7f7;
}
#header h2 {
  display: block;
  position: relative;
  font-size: .2rem;
  text-align: center;
  line-height: .44rem;
  margin: 0;
  transform: translateX(-0.1rem);
  padding: 0;
  color: #fff;
  font-weight: normal;
}
#header #title {
  position: relative;
  z-index: 1000;
  display: block;
  width: .4rem;
  height: .4rem;
  background-size: .4rem .4rem;
  background-image: url("../images/header_app.png");
}
#header #icon-back {
  display: block;
  background-color: transparent;
  z-index: 999;
  margin-top: .05rem;
  font-size: .2rem;
  width: .4rem;
  height: .4rem;
  text-align: center;
  line-height: .4rem;
  color: #fff;
  font-weight: bold;
}
#header #icon-back i {
  font-size: .3rem;
}
#nav {
  position: relative;
  z-index: 999;
  margin-top: .45rem;
  height: .40rem;
}
#nav .mui-control-item {
  padding: 0 .15rem;
}
#nav a {
  box-sizing: border-box;
  height: .4rem;
}
#nav #searchBtn {
  display: block;
  position: absolute ;
  right: 0;
  width: .38rem;
  height: .38rem;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
  z-index: 1020;
  text-align: center;
}
#nav #searchBtn i {
  color: #a7a7a7;
  line-height: .38rem;
  font-size: .18rem;
}
#nav .bcj_parent {
  background-color: #fff;
  height: .38rem;
  overflow: hidden;
}
#nav .bcj_parent a.mui-active {
  border-bottom: 0.04rem solid #e4393c;
  color: #e4393c;
}
#nav .bcj_parent .bcj_nav-tabs {
  display: block;
  text-align: center;
  width: 8.7rem;
  height: .38rem;
  background-color: #fff;
}
#nav .bcj_parent .bcj_nav-tabs > li {
  float: left;
  height: .38rem;
}
#nav .bcj_parent .bcj_nav-tabs > li > a {
  display: block;
  padding: .1rem .15rem;
  margin-right: .02rem;
}
#nav .bcj_parent .bcj_nav-tabs > li > a:hover {
  background-color: transparent;
  color: #000;
}
.bcj_nav-tabs > li.active a,
.bcj_nav-tabs > li.active a:hover,
.bcj_nav-tabs > li.active a:focus {
  cursor: pointer;
  background-color: transparent;
  color: #e4393c;
}
#form-search {
  display: none;
  position: relative;
  top: .38rem;
  height: .55rem;
  background-color: #f7f7f7;
}
#form-search #input-bar {
  background-color: #cec9c9;
}
#form-search .search > input[type=button] {
  line-height: 0.1rem;
}
#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#footer .foot_top {
  height: .34rem;
}
#footer .footer_bottom {
  background-color: #232a34;
  height: .84rem;
  padding: .15rem 0;
  text-align: center;
}
#footer .footer_bottom p {
  font-size: .12rem;
  text-align: center;
  margin: 0 0 .1rem;
  color: #666;
}
#footer .footer_bottom p a {
  font-size: .13rem;
}
