* {
  margin: 0px;
  padding: 0px;
}
/* 页面的文字都默认14px */
body {
  font-size: 0.14rem;
  height: 100vh;
  padding-top: .87rem;
}
li {
  list-style: none;
}
img {
  /* 解决图标3px的问题 */
  vertical-align: middle;
}
.icon-active {
  transform: rotate(180deg);
}
#header {
  position: fixed;
  height: .44rem;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ff4e49;
  width: 100vw;
  padding-left: .44rem;
  padding-right: .44rem;
}
#header .back,
#header .app-download {
  display: block;
  width: .44rem;
  height: .44rem;
  position: absolute;
  top: 0;
}
#header .back {
  left: 0;
  font-size: .18rem;
  color: #fff;
  line-height: .44rem;
  padding-left: .1rem;
}
#header .app-download {
  right: 0;
  padding: .06rem;
  background: url(../images/header_app.png);
  background-size: .32rem .32rem;
  background-clip: content-box;
  background-origin: content-box;
}
#header .title {
  font-size: .16rem;
  color: #fff;
  font-weight: normal;
  width: 100%;
  height: .44rem;
  margin: 0;
  line-height: .44rem;
  text-align: center;
}
#nav {
  position: fixed;
  top: .44rem;
  left: 0;
  z-index: 990;
  width: 100vw;
  background-color: #ffffff;
}
#nav .nav-bar {
  display: flex;
  height: .37rem;
}
#nav .nav-bar .nav-title {
  flex: 1;
  display: flex;
  width: 100%;
}
#nav .nav-bar .nav-title a {
  display: block;
  width: 33.33%;
  height: .37rem;
  line-height: .37rem;
  text-align: center;
  color: #000;
  position: relative;
}
#nav .nav-bar .nav-title a .trigon {
  border-top: 8px solid #ccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: .145rem;
  margin-left: .02rem;
}
#nav .nav-bar .search {
  height: .37rem;
  width: .45rem;
  border-left: 1px solid #ddd;
  text-align: center;
  line-height: .37rem;
  font-size: .16rem;
  color: #6e6e6e;
}
#nav .nav-option ul {
  border-bottom: 2px solid #eee;
}
#nav .nav-option ul li {
  padding: 0 20px;
  height: .37rem;
  line-height: .37rem;
  border-top: 1px solid #eee;
}
#nav .nav-option ul li .check {
  float: right;
  color: #ff4e49;
  line-height: .37rem;
}
#main {
  position: relative;
  height: 100%;
  margin: 0 .06rem;
}
#main .product ul {
  display: flex;
  flex-wrap: wrap;
}
#main .product ul li {
  width: 50%;
  padding: 5px;
}
#main .product ul li a {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 3px 3px #ccc;
}
#main .product ul li a img {
  height: 1.2439rem;
  display: block;
  margin: 0 auto 10px;
}
#main .product ul li a p {
  margin-bottom: 0;
}
#main .product ul li a p.product-title {
  height: .34rem;
  line-height: .34rem;
  overflow: hidden;
  font-size: .12rem;
  color: #000;
}
#main .product ul li a p .product-price {
  color: #ff4e49;
  font-size: .16rem;
  line-height: 0.24rem;
}
#main .product ul li a p .go-buy {
  outline-style: none;
  border: 0;
  float: right;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #ff4e49;
  line-height: .24rem;
  color: #fff;
  text-align: center;
}
