@charset "utf-8";
/*
                                 _oo8oo_
                                o8888888o
                                88" . "88
                                (| -_- |)
                                0\  =  /0
                              ___/'==='\___
                            .' \\|     |// '.
                           / \\|||  :  |||// \
                          / _||||| -:- |||||_ \
                         |   | \\\  -  /// |   |
                         | \_|  ''\---/''  |_/ |
                         \  .-\__  '-'  __/-.  /
                       ___'. .'  /--.--\  '. .'___
                    ."" '<  '.___\_<|>_/___.'  >' "".
                   | | :  `- \`.:`\ _ /`:.`/ -`  : | |
                   \  \ `-.   \_ __\ /__ _/   .-` /  /
               =====`-.____`.___ \_____/ ___.`____.-`=====
                             佛祖保佑，永无 bug
*/
/*
 * @Author: Yggdrasill-7C9
 * @Date:   2018-9-6 09:36:01
 * @Last Modified by:  Yggdrasill-7C9
 * @Last Modified time: 2018-12-15 15:57:10
 */
/* CSS reset */
/* 清除默认样式 */
body,
span,
div,
a,
b,
i,
s,
p,
u,
strong,
em,
ins,
del,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
form,
fieldset,
legend,
textarea,
ul,
ol,
li,
dd,
dl,
dt,
th,
td,
pre {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 设置HTML5元素为块 */
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a,
s,
u {
  text-decoration: none;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  border: 0 none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
dl,
dt,
dd,
table,
th,
tr,
td,
tbody,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
form,
p,
a,
img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 控件 */
input {
  /* 去除safari默认的input样式 */
  -webkit-appearance: none;
  resize: none;
}
button {
  cursor: pointer;
}
input,
button {
  border: 0 none;
  outline: 0 none;
}
/* 表单 */
legend {
  display: none;
}
fieldset,
iframe {
  border: 0 none;
}
/* 表格 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 清除浮动 */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 超出文字改为... */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  overflow-y: hidden;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
#header {
  flex: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background: #ff4e49;
  border-bottom: 1px solid #e6e6e6;
  z-index: 999;
}
#header > .logo {
  padding: 12px;
}
#header > .logo > a > img {
  max-width: 185.5px;
  max-height: 25px;
  overflow: hidden;
}
#header > .icon-back > a {
  float: left;
  width: 24px;
  height: 44px;
  line-height: 44px;
  display: block;
  font-weight: 700;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  font-family: 'SimSun';
}
#header > .icon-back > a > i {
  font-size: 30px;
}
#header > .icon-back > .header-text {
  color: white;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  font-family: arial;
}
#header > .appdown {
  position: absolute;
  right: 0;
  top: -2px;
  padding: 7px;
}
#header > .appdown > a > img {
  max-width: 34px;
  max-height: 34px;
  overflow: hidden;
}
#form-search {
  flex: 0;
  width: 100%;
  position: fixed;
  top: 50px;
  padding: 10px;
  background-color: #fff;
  z-index: 999;
}
#form-search > .search {
  position: relative;
  padding-right: 70px;
  max-height: 30px;
}
#form-search > .search > input[type=search] {
  width: 100%;
  background: #f1f1f1;
  font-size: 13px;
  padding-right: 50px;
  padding-left: 20px;
  -webkit-appearance: none;
  border: none;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
}
#form-search > .search > input[type=button] {
  position: absolute;
  width: 63px;
  background: #565656;
  color: #fff;
  top: 0;
  right: 0;
  font-size: 16px;
  -webkit-appearance: none;
  border: none;
  height: 30px;
  border-radius: 15px;
}
#main {
  flex: 1;
  margin-top: 100px;
  position: relative;
}
#footer {
  flex: 0;
  width: 100%;
  background-color: #232a34;
}
#footer .foot_top {
  border-bottom: 1px solid #727272;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
#footer .foot_top a {
  float: left;
  width: 30%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-right: 1px solid #727272;
}
#footer .foot_top a:nth-child(3) {
  border-right: none;
}
#footer .foot_top a i.fa.fa-arrow-circle-up {
  font-size: inherit;
}
#footer .footer_bottom {
  height: 64px;
  font-size: 12px;
  padding: 15px 0;
  color: #bebebe;
  text-align: center;
}
#footer .footer_bottom a:first-child {
  color: #ff4e49;
}
#footer .footer_bottom a:last-child {
  color: #bebebe;
}
#navigation {
  flex: 0;
  width: 100%;
  position: fixed;
  top: 50px;
  padding: 10px;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .14rem;
  box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, 0.1);
}
#main {
  background: #fff;
}
#main .detail {
  height: 4.1rem;
}
#main .detail .details-title {
  padding: .2rem;
}
#main .detail .details-image {
  text-align: center;
  padding-bottom: .2rem;
}
#main .detail .details-image img {
  vertical-align: bottom;
}
#main .detail .details-image img:first-child {
  width: 1.7rem;
}
#main .detail .details-image img.like {
  width: .5rem;
}
#main .detail .details-nav nav {
  display: flex;
}
#main .detail .details-nav nav a {
  font-size: 0.14rem;
  background: #ffa025;
  flex: 1;
  height: .3rem;
  color: #fff;
  text-align: center;
  line-height: .3rem;
  border: 1px solid #c14d00;
  margin-right: -1px;
}
#main .detail .details-nav .jd-banner {
  padding: .1rem;
}
#main .detail .details-nav .jd-banner table img {
  width: 0.16rem;
}
#main .detail .details-nav .prompt {
  padding: .1rem;
  font-size: 0.12rem;
  color: #ccc;
  border: 1px solid #aaa;
  border-left: none;
  border-right: none;
}
#main .comment .title {
  height: 0.4rem;
  font-size: .18rem;
  line-height: .4rem;
  text-align: center;
}
#main .comment .info {
  display: flex;
  justify-content: space-between;
  font-size: 0.12rem;
  color: #aaa;
}
#main .comment .likes {
  display: flex;
  justify-content: space-between;
  font-size: 0.12rem;
  color: #aaa;
}
#main .comment .likes img {
  width: 0.18rem;
}
#main .comment .content {
  color: #000;
  padding: .02rem;
}
